.review {
    text-align: center;
    margin-top: 100px;
}

.review h2 {
    font-weight: bold;
    font-size: 49px;
    line-height: 120%;
    color: #05000B;
}

.review p {
    width: 495px;
    height: 52px;
    margin: auto;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.7;
}

.what_say__container {
    padding-top: 70px;
    display: flex;
    padding-left: 10%;
}

.what_say h3 {
    font-weight: 600;
    font-size: 31px;
    line-height: 160%;
    text-align: center;
    color: #05000B;
    text-align: left;
}

.user_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 20px;
    width: 370px;
    height: 125px;
    background: #FFFFFF;
    box-shadow: 13px 13px 31px rgba(0, 0, 0, 0.05);
    z-index: 2;
    position: relative;
}

.user_name h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 160%;
    color: #05000B;
    margin: 0;
}

.user_name p {
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    color: #05000B;
    opacity: 0.8;
    margin: 0;
}

.user_grade {
    width: 655px;
    height: 235px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 13px 13px 31px rgba(0, 0, 0, 0.05);
    z-index: 1;
    position: relative;
    top: -100px;
}

.user_grade p {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #05000B;
    text-align: left;
    margin-left: 20px;
    padding-top: 125px;
}

.user_grade img {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;
}

.slider_buttons {
    display: none;
}

.slider_buttons__left {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 62.5px 62.5px 0px 62.5px;
    background-color: #FF5A05;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
}

.slider_buttons__left:hover {
    border: 2px solid #FF5A05;
    background-color: #FFFFFF;
    color: #FF5A05;
    cursor: pointer;
}

.slider_buttons__right {
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 62.5px 62.5px 62.5px 0px;
    background-color: #FF5A05;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 16px;
}

.slider_buttons__right:hover {
    border: 2px solid #FF5A05;
    background-color: #FFFFFF;
    color: #FF5A05;
    cursor: pointer;
}

.user_photo {
    background-image: url(../images/review/Davit\ millar.png);
    background-position: center;
    background-size: cover;
    width: 525px;
    height: 505px;
    position: relative;
    z-index: 0;
    left: -40px;
}

@media screen and (max-width: 1200px) {
    .user_name {
        padding-left: 20px;
        width: 330px;
        height: 80px;
    }
    
    .user_name h4 {
        font-size: 20px;
    }
    
    .user_name p {
        font-size: 15px;
    }
    
    .user_grade {
        width: 570px;
        height: 170px;
        top: -50px;
    }
    
    .user_grade p {
        font-size: 14px;
        margin-left: 15px;
        padding-top: 75px;
    }
    
    .user_grade img {
        top: 20px;
        right: 20px;
    }
    .user_photo {
        width: 340px;
        height: 330px;
        left: -60px;
    }
}

@media screen and (max-width: 970px) {
    .user_photo {
        display: none;
        width: 200px;
        height: 150px;
    } 
}

@media screen and (max-width: 770px) {
    .review h2 {
        font-size: 40px;
    }
    
    .review p {
        width: 410px;
        font-size: 14px;
    }

    .what_say__container {
        padding: 0;
    }

    .user_name {
        padding-left: 20px;
        width: 200px;
        height: 60px;
    }
    
    .user_name h4 {
        font-size: 15px;
    }
    
    .user_name p {
        font-size: 12px;
    }
    
    .user_grade {
        width: 450px;
        height: 120px;
        top: -50px;
    }
    
    .user_grade p {
        width: 430px;
        font-size: 12px;
        margin-left: 5px;
        padding-top: 65px;
        line-height: 100%;
       
    }
    
    .user_grade img {
        top: 5px;
        right: 5px;
    }
}